<form action="/tasks/add" method="POST">
<div>
    <label for="title">Write a title</label>
    <input type="text" name="title" id="title" placeholder="Type a title"/>
    
</div>

<div>
    <label for="description">Write the description</label>
    <textarea name="description" id="description" placeholder="Type a description"></textarea>
</div>
<button>Add</button>
</form>