<form action="/tasks/add" method="POST">
<div>
    <label for="name">Write your name</label>
    <input type="text" name="name" id="name" placeholder="Type your name"/>
    
</div>
<div>
    <label for="password">Write your password</label>
    <input type="password"minlength="7" name="password" id="password" placeholder="Type your password"/>
    
</div>
<div>
    <label for="name">Write your email</label>
    <input type="text" name="email" id="email" placeholder="Type your email"/>
    
</div>
<div>
    <label for="name">Write your age</label>
    <input type="number" name="age" id="age" placeholder="Type your age"/>
    
</div>

<button>Add</button>
</form>